@import "./variables";
@import "./bulma";
@import "./spacing";
@import "./administrator_header";
@import "./editor/index";
@import './pagination';


.text {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black !important;
}

.blog-editor-container {
  padding-top: 60px;
  
  //tablets, big phones
  @media only screen and (min-width: 600px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  // xs-devices, phones
  @media only screen and (max-width: 600px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.tooltip {
  background: rgb(22, 22, 22);
  color: #f9c61a;
  border: 1px solid #f9c61a;
  padding: 8px 12px;
  border-radius: 3px;
  max-width: 500px;
}
